<div class="container-fluid">
        <div class="row-fluid">
            
            <div class="panel with-nav-tabs panel-default" id="line-and-bubble">
				<div class="panel-heading">
					<ul id="bar-time-range" class="nav nav-tabs nav-justified">
						<li class="active"><a href="#Inventory" data-toggle="tab">Inventory</a></li>
						<li><a href="#Orders" data-toggle="tab" ng-hide="prodlogin.logintypeid == 2">Orders</a></li>
						<li><a href="#Reports" data-toggle="tab" ng-hide="prodlogin.logintypeid == 2">Reports</a></li>
					</ul>
				</div>
				<div class="panel-body">
					<div class="tab-content">
						<div class="tab-pane fade in active" id="Inventory">
										<h4 class="blog-post-title">Products</h4>
										<hr/>
										<button type="button" class="btn btn-danger fa fa-plus" ng-click="open(product);">&nbsp;Add New Product</button>

										<div class="table-responsive">
										<div class="panel panel-primary">
										  <div class="panel-heading">List of products
											  <div class="sw-search" >
													<div class="nav-search" id="nav-search">
															Filter: <span class="input-icon">
																<input placeholder="Filter products list ..." class="nav-search-input" ng-model="filterProduct" ng-change="resetLimit();"  autocomplete="on" type="text" style="width:300px;" focus>
																<i class="search-icon fa fa-search nav-search-icon"></i>
															</span>
													</div>
												</div>
											</div>
										  <div class="panel-body">
											<table class="table table-striped">
											<tr ng-show="products.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
											<tr ng-hide="products.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>
											
											<tr><th ng-repeat="c in columns">{{c.text}}</th></tr>

											<tr ng-repeat="c in products | filter:filterProduct | orderBy:'-productid'" id="{{c.productid}}" animate-on-change='c.stock + c.price + c.description' ng-animate="'animate'">
												<td>{{c.productid}}</td><td>{{c.producttypeid}}</td><td>{{c.productname}}</td><td>{{c.sku}}</td><td>{{c.price}}</td><td>{{c.stock}}</td><td>{{c.description}}</td>
												<td>{{c.cal}}</td>
												<td>{{c.carot}}</td>
												<td>{{c.fiber}}</td>
												<td>{{c.folate}}</td>
												<td>{{c.potassium}}</td>
												<td>{{c.itc}}</td>
												<td>
													<button class="btn" ng-class="{Active:'btn-success', Inactive:''}[c.status]" ng-click="changeProductStatus(c);">{{c.status}}</button>
												</td>
												<td style="width:100px">
													<div class="btn-group">
													  <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
													  <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="deleteProduct(c);"></button>
													</div>
												</td>
											</tr>
											</table>
										</div>
										</div>
										</div>
						</div>

						<div class="tab-pane fade" id="Orders">
							<h4 class="blog-post-title">Orders</h4>
										<hr/>
										<div class="table-responsive">
										<div class="panel panel-primary">
										  <div class="panel-heading">List of Orders for this Store
											  <div class="sw-search" >
													<div class="nav-search" id="nav-search">
															Filter: <span class="input-icon">
																<input placeholder="Filter orders list ..." class="nav-search-input" ng-model="filterOrders" ng-change="resetLimit();"  autocomplete="on" type="text" style="width:300px;" focus>
																<i class="search-icon fa fa-search nav-search-icon"></i>
															</span>
													</div>
												</div>
											</div>
										<div class="panel-body">
											<table class="table table-striped">
											<tr ng-show="orders.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
											<tr ng-hide="orders.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>
											
											<tr><th ng-repeat="c in oColumns">{{c.text}}</th></tr>

											<tr ng-repeat="o in orders | filter:filterOrders | orderBy:'dateordered'" id="{{o.orderid}}"  ng-animate="'animate'">
												<td>{{o.orderid}}</td>
												<td>{{o.custid}}</td>		
												<td>{{o.total}}</td>
												<td>{{o.dateordered}}</td>
												<td>
													<button class="btn" ng-class="{Approved:'btn-success', NotApproved:''}[o.status]" ng-click="changeOrderStatus(o);">{{o.status}}</button>
												</td>
											</tr>
											</table>
										</div>
										</div>
										</div>
							
						</div>
						<div class="tab-pane fade" id="Reports">
							
							<table class="table table-striped">
								<tr>
									<td ng-repeat="sales in totsales">
										<h3>Total Sales</h3>
										{{sales.totalsales}}
									</td>
									<td ng-repeat="orders in totorders">
										<h3>Total Orders</h3>
										{{orders.totorders}}
									</td>
									<td ng-repeat="avg in avgqnty">
										<h3>Average Quantity per Order</h3>
										{{avg.avgqnty}}
									</td>
									<td>
										<h3>Products Most Sold</h3>
										<p ng-repeat="prod in maxprods">
										{{prod.productname}}
										</p>
									</td>
									<td>
										<h3>Products Least Sold</h3>
										<p ng-repeat="prod in minprods">
										{{prod.productname}}
										</p>
									</td>
								</tr>
								<tr>
									<td ng-repeat="cust in mvcust">
										<h3>Most Valuable Customer</h3>
										{{cust.name}}
									</td>
								</tr>
							</table>
							<button type="button" class="btn btn-danger fa fa-plus" ng-click="openStore(store);">&nbsp;Add New Store</button>
							<div class="table-responsive">
										<div class="panel panel-primary">
										  <div class="panel-heading">List of Stores
											  <div class="sw-search" >
													<div class="nav-search" id="nav-search">
															Filter: <span class="input-icon">
																<input placeholder="Filter store list ..." class="nav-search-input" ng-model="filterStores" ng-change="resetLimit();"  autocomplete="on" type="text" style="width:300px;" focus>
																<i class="search-icon fa fa-search nav-search-icon"></i>
															</span>
													</div>
												</div>
											</div>
										  <div class="panel-body">
											<table class="table table-striped">
											<tr ng-show="stores.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
											<tr ng-hide="stores.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>
											
											<tr><th ng-repeat="sc in sColumns">{{sc.text}}</th></tr>

											<tr ng-repeat="s in stores | filter:filterStores | orderBy:'storeid'" id="{{s.storeid}}"  ng-animate="'animate'">
												<td>{{s.storeid}}</td>
												<td>{{s.numsalespersons}}</td>													
												<td>{{s.producttype}}</td>
												<td>{{s.regionid}}</td>
												<td>{{s.bldgnumber}}</td>
												<td>{{s.street}}</td>
												<td>{{s.city}}</td>
												<td>{{s.state}}</td>
												<td>{{s.country}}</td>
												<td>{{s.postalcode}}</td>														
												<td style="width:100px">
													<div class="btn-group">
													  <button type="button" class="btn btn-default fa fa-edit" ng-click="openStore(s);"></button>
													  <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="deleteStore(s);"></button>
													</div>
												</td>
											</tr>
											</table>
										</div>
										</div>
							</div>
							
						</div>
						<div class="tab-pane fade" id="Admiin">
							<h4 class="blog-post-title">Admin Console</h4>
										<hr/>
										<div class="table-responsive">
										<div class="panel panel-primary">
										  <div class="panel-heading">Welcome God!!
											  <div class="sw-search" >
													<div class="nav-search" id="nav-search">
															Filter: <span class="input-icon">
																<input placeholder="Filter orders list ..." class="nav-search-input" ng-model="filterOrders" ng-change="resetLimit();"  autocomplete="on" type="text" style="width:300px;" focus>
																<i class="search-icon fa fa-search nav-search-icon"></i>
															</span>
													</div>
												</div>
											</div>
										<div class="panel-body">
											<table class="table table-striped">
											<tr ng-show="orders.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
											<tr ng-hide="orders.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>
											
											<tr><th ng-repeat="c in oColumns">{{c.text}}</th></tr>

											<tr ng-repeat="o in orders | filter:filterOrders | orderBy:'dateordered'" id="{{o.orderid}}"  ng-animate="'animate'">
												<td>{{o.orderid}}</td>
												<td>{{o.custid}}</td>		
												<td>{{o.total}}</td>
												<td>{{o.dateordered}}</td>
												<td>
													<button class="btn" ng-class="{Approved:'btn-success', NotApproved:''}[o.status]" ng-click="changeOrderStatus(o);">{{o.status}}</button>
												</td>
											</tr>
											</table>
										</div>
										</div>
										</div>
							
						</div>
					</div>
				</div>
			</div>
        </div>
</div>